body {
  font-size: 3px;
  background-color: black;
}
@media (max-width: 400px) {
  body {
    font-size: 3px;
  }
}
@media (max-width: 767px) {
  .loader {
    margin-top: 35%;
  }
}
@media (min-width: 400px) {
  body {
    font-size: 5px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 9px;
  }
  .loader {
    margin-top: 20%;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 14px;
  }
  .loader {
    margin-top: 18%;
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 16px;
  }
  .loader {
    margin-top: 15%;
  }
}
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.loader_ball {
  display: inline-block;
  width: 2em;
  height: 2em;
  /* background-color: #ffffff; */
  margin-inline: 0.5em;
  border-radius: 50%;
  animation: bounce 700ms alternate infinite;
}
.loader_ball:nth-child(1) {
  background-color: red;
}
.loader_ball:nth-child(2) {
  animation-delay: 100ms;
  background-color: orange;
}
.loader_ball:nth-child(3) {
  animation-delay: 200ms;
  background-color: yellow;
}
.loader_ball:nth-child(4) {
  animation-delay: 300ms;
  background-color: green;
}
.loader_ball:nth-child(5) {
  animation-delay: 400ms;
  background-color: blue;
}
.loader_ball:nth-child(6) {
  animation-delay: 500ms;
  background-color: purple;
}
@keyframes bounce {
  from {
    transform: scaleX(1.25);
  }
  to {
    transform: translateY(-3em) scaleX(1);
  }
}
.title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 5em;
  font-style: italic;
  margin-left: 0.5em;
}
